@media print {

  @page {
    size: A4 portrait;
    margin: 12mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Hide buttons only */
  .btn,
  button {
    display: none !important;
  }

  /* Keep exact UI and move section to page 2 */
  .comments-print-page {
    page-break-before: always !important;
    break-before: page !important;
  }

  /* Keep table proper in print */
  thead {
    display: table-header-group;
  }

  tr,
  td,
  th {
    page-break-inside: avoid;
  }

}


table {
  border-collapse: collapse;
}

tbody tr {
  border: 1px solid #ccc;
}

tbody tr td {
  border: 1px solid #ccc;
}

.custom-full-modal {
  max-width: 95vw !important;
  width: 95vw;
  margin: 10px auto;
}

.custom-full-modal .modal-content {
  height: 90vh;
}

.custom-full-modal .modal-body {
  overflow: auto;
}

.badge {
  font-size: 12px !important;
  padding: 6px;
}